
<!DOCTYPE html>
  <!--[if IEMobile 7]><html class="no-js ie iem7" lang="en" dir="ltr"><![endif]-->
  <!--[if lte IE 6]><html class="no-js ie lt-ie9 lt-ie8 lt-ie7" lang="en" dir="ltr"><![endif]-->
  <!--[if (IE 7)&(!IEMobile)]><html class="no-js ie lt-ie9 lt-ie8" lang="en" dir="ltr"><![endif]-->
  <!--[if IE 8]><html ng-csp class="no-js ie lt-ie9" lang="en" dir="ltr"><![endif]-->
  <!--[if (gte IE 9)|(gt IEMobile 7)]><html ng-csp class="no-js ie" lang="en" dir="ltr"><![endif]-->
  <!--[if !IE]><!--><html ng-csp class="no-js" lang="en" dir="ltr"><!--<![endif]-->
<head>
    <title>Deutschland | ESL Play</title>
    <meta charset="utf-8" />
<meta http-equiv="x-dns-prefetch-control" content="on" />
<link rel="dns-prefetch" href="//cdn-eslgaming.akamaized.net" />
<!--[if IE 9]>
<link rel="prefetch" href="//cdn-eslgaming.akamaized.net" />
<![endif]-->
<meta name="MobileOptimized" content="width" />
<meta http-equiv="cleartype" content="on" />
<meta name="HandheldFriendly" content="true" />
<meta name="y_key" content="db1fa126d6f6884b" />
<link rel="apple-touch-icon" href="//cdn-eslgaming.akamaized.net/play/drupal/profiles/eslgaming_play/themes/eslgaming/eslgaming_play_base/apple-touch-icon.png" />
<link rel="icon" href="/profiles/eslgaming_play/themes/eslgaming/eslgaming_play_base/favicon.ico" type="image/x-icon" />
<link rel="profile" href="http://www.w3.org/1999/xhtml/vocab" />
<link rel="apple-touch-icon" href="//cdn-eslgaming.akamaized.net/play/drupal/profiles/eslgaming_play/themes/eslgaming/eslgaming_play_base/apple-touch-icon-76x76.png" sizes="76x76" />
<link rel="apple-touch-icon" href="//cdn-eslgaming.akamaized.net/play/drupal/profiles/eslgaming_play/themes/eslgaming/eslgaming_play_base/apple-touch-icon-120x120.png" sizes="120x120" />
<link rel="apple-touch-icon" href="//cdn-eslgaming.akamaized.net/play/drupal/profiles/eslgaming_play/themes/eslgaming/eslgaming_play_base/apple-touch-icon-114x114.png" sizes="114x114" />
<link rel="apple-touch-icon" href="//cdn-eslgaming.akamaized.net/play/drupal/profiles/eslgaming_play/themes/eslgaming/eslgaming_play_base/apple-touch-icon-57x57.png" sizes="57x57" />
<link rel="apple-touch-icon" href="//cdn-eslgaming.akamaized.net/play/drupal/profiles/eslgaming_play/themes/eslgaming/eslgaming_play_base/apple-touch-icon-60x60.png" sizes="60x60" />
<meta name="language" content="en" />
<link rel="apple-touch-icon" href="//cdn-eslgaming.akamaized.net/play/drupal/profiles/eslgaming_play/themes/eslgaming/eslgaming_play_base/apple-touch-icon-72x72.png" sizes="72x72" />
<link rel="apple-touch-icon-precomposed" href="//cdn-eslgaming.akamaized.net/play/drupal/profiles/eslgaming_play/themes/eslgaming/eslgaming_play_base/apple-touch-icon-precomposed.png" />
<meta name="robots" content="all" />
<link rel="icon" href="/profiles/eslgaming_play/themes/eslgaming/eslgaming_play_base/favicon.png" type="image/png" />
<meta name="Expires" content="Mon, 06 Jan 1990 00:00:01 GMT" />
<meta name="bitly-verification" content="40238f85754d" />
<link rel="shortcut icon" href="/profiles/eslgaming_play/themes/eslgaming/eslgaming_play_base/favicon-96x96.png" type="image/png" sizes="96x96" />
<link rel="shortcut icon" href="/profiles/eslgaming_play/themes/eslgaming/eslgaming_play_base/favicon-32x32.png" type="image/png" sizes="32x32" />
<meta name="Generator" content="Drupal 7 (http://drupal.org)" />
<link rel="shortcut icon" href="/profiles/eslgaming_play/themes/eslgaming/eslgaming_play_base/favicon-16x16.png" type="image/png" sizes="16x16" />
<meta property="og:image" content="https://cdn-eslgaming.akamaized.net/play/eslgfx/" />
<meta name="author" content="Turtle Entertainment GmbH" />
<meta name="keywords" content="esl, eslgaming, esports, electronic sports league, esports league, competitive gaming, esl one, intel extreme masters, esl open, esl major, esl pro, gaming, league, tournament, multiplayer, community, clan, forum, server, online, replay, demo, lol, league of legends, wot, world of tanks, cs, css, csgo, counter-strike global offensive, skill, hearthstone, cod, cod4, bo3, call of duty, black ops 3, ava, halo, crossfire, battlefield 4, bf4, heroes of the storm, battlefield hardline, smite, fifa, combat arms, starcraft 2, sc2, evolve, war rock, pokerth, magicka, mortal kombat x, mkx, esl tv, esl national championship, esl meisterschaft, esl mistrzostw polski, esl championnat national, esl uk premiership, esl nordic nationals, esl south east europe championship, esl ?????????? ?????????, esl pro league, world championship series, wcs, wargming.net league, wgl, turtle entertainment" />
<meta name="description" content="World leading platform for esports. Play CS:GO, LoL, CoD, FIFA, SC2, WoT and more against real opponents for prizes and cash." />
<meta name="google-site-verification" content="IekuIdmml4ttb4f2rDr7n0Tu872TO_FcORTbBET7XQQ" />
<meta name="copyright" content="Turtle Entertainment GmbH" />
<meta name="publisher" content="Turtle Entertainment GmbH" />
<meta name="yandex-verification" content="7a281ca7deea57fc" />
<meta name="programmer" content="Turtle Entertainment GmbH" />
<meta name="viewport" content="width=device-width" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek,greek-ext,vietnamese' rel='stylesheet' type='text/css'>
    <style>
@import url("//cdn-eslgaming.akamaized.net/play/drupal/sites/all/themes/omega/omega/css/modules/system/system.base.css?oz3ukd");
@import url("//cdn-eslgaming.akamaized.net/play/drupal/sites/all/themes/omega/omega/css/modules/system/system.menus.theme.css?oz3ukd");
@import url("//cdn-eslgaming.akamaized.net/play/drupal/sites/all/themes/omega/omega/css/modules/system/system.messages.theme.css?oz3ukd");
@import url("//cdn-eslgaming.akamaized.net/play/drupal/sites/all/themes/omega/omega/css/modules/system/system.theme.css?oz3ukd");
@import url("//cdn-eslgaming.akamaized.net/play/drupal/modules/node/node.css?oz3ukd");
@import url("//cdn-eslgaming.akamaized.net/play/drupal/sites/all/themes/omega/omega/css/modules/field/field.theme.css?oz3ukd");
@import url("//cdn-eslgaming.akamaized.net/play/drupal/sites/all/modules/views/css/views.css?oz3ukd");
@import url("//cdn-eslgaming.akamaized.net/play/drupal/sites/all/themes/omega/omega/css/modules/user/user.base.css?oz3ukd");
@import url("//cdn-eslgaming.akamaized.net/play/drupal/sites/all/themes/omega/omega/css/modules/user/user.theme.css?oz3ukd");
@import url("//cdn-eslgaming.akamaized.net/play/drupal/sites/all/modules/ckeditor/css/ckeditor.css?oz3ukd");
</style>
<link type="text/css" rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/base/minified/jquery-ui.min.css" media="all" />
<style>
@import url("//cdn-eslgaming.akamaized.net/play/drupal/sites/all/modules/ctools/css/ctools.css?oz3ukd");
@import url("//cdn-eslgaming.akamaized.net/play/drupal/sites/all/modules/panels/css/panels.css?oz3ukd");
@import url("//cdn-eslgaming.akamaized.net/play/drupal/sites/all/modules/turtle_entertainment/te_chatbar/css/fixes.css?oz3ukd");
@import url("//cdn-eslgaming.akamaized.net/play/drupal/sites/all/modules/panels/plugins/layouts/flexible/flexible.css?oz3ukd");
@import url("//cdn-eslgaming.akamaized.net/play/drupal/sites/eslgaming_play_prod/files/ctools/css/cba9d26bbfbb4128770a2d9c40ed3ddb.css?oz3ukd");
@import url("//cdn-eslgaming.akamaized.net/play/drupal/sites/all/modules/turtle_entertainment/te_cookie_guideline/css/te-cookie-guideline.css?oz3ukd");
</style>
<style>
@import url("//cdn-eslgaming.akamaized.net/play/drupal/profiles/eslgaming_play/themes/eslgaming/eslgaming_play_base/dist/styles/eslgaming-play-base.styles.css?oz3ukd");
@import url("//cdn-eslgaming.akamaized.net/play/drupal/profiles/eslgaming_play/themes/eslgaming/eslgaming_play_base/dist/styles/iconfont/esl-icons.css?oz3ukd");
</style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="//cdn-eslgaming.akamaized.net/play/drupal/misc/jquery.once.js?v=1.2"></script>
<script src="//cdn-eslgaming.akamaized.net/play/drupal/misc/drupal.js?oz3ukd"></script>
<script src="//cdn-eslgaming.akamaized.net/play/drupal/sites/all/themes/omega/omega/js/no-js.js?oz3ukd"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-resource.min.js"></script>
<script src="//cdn-eslgaming.akamaized.net/play/drupal/sites/all/libraries/momentjs/moment-with-locales.min.js?v=2.10.6"></script>
<script src="//cdn-eslgaming.akamaized.net/play/drupal/sites/all/libraries/momentjs/moment-timezone-with-data.min.js?v=2.10.6"></script>
<script src="//cdn-eslgaming.akamaized.net/play/drupal/sites/all/libraries/jstimezonedetect/jstz.min.js?v=1.0.4"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.7.0/angular-translate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-interpolation-messageformat/2.7.0/angular-translate-interpolation-messageformat.min.js"></script>
<script src="//cdn-eslgaming.akamaized.net/play/drupal/sites/all/modules/turtle_entertainment/te_translate/js/messageformat/messageformat.js?v=0.2.2"></script>
<script src="//cdn-eslgaming.akamaized.net/play/drupal/sites/all/modules/turtle_entertainment/te_translate/js/languagemapper/languageMapper.js?v=0.0.1"></script>
<script src="/translation/jsonp/en?v=c50286a5493a5902de4f9f38b7bb2cd1"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script>var ESLuserID = 0, ESLteamID = [], navigation_url="", nav="/germany";</script>
<script src="//cdn-eslgaming.akamaized.net/play/drupal/profiles/eslgaming_play/modules/turtle_entertainment/te_frontend/dist/app.js?oz3ukd"></script>
<script src="https://cdn-eslgaming.akamaized.net/play/eslstatic/skins/v2008_base/js/dist/bundle.js"></script>
<script>var gfx_skin = 'https://cdn-eslgaming.akamaized.net/play/eslstatic/skins/v2008_base', gfx_static = 'https://cdn-eslgaming.akamaized.net/play/eslstatic', gfx = 'https://cdn-eslgaming.akamaized.net/play/eslgfx';</script>
<script>    window.universal_variable = {
        "page": {
            "category": "play.eslgaming.com/germany"
        }
    }</script>
<script defer="defer">(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = 'https://d3c3cq33003psk.cloudfront.net/opentag-167106-testplayeslgamingcom.js';

  var d = document.getElementsByTagName('script')[0];
  d.parentNode.insertBefore(s, d);
})();</script>
<script src="//cdn-eslgaming.akamaized.net/play/drupal/sites/all/modules/turtle_entertainment/te_translate/js/messageformat/locale/en.js?oz3ukd"></script>
<script>
    window.originalMessageFormat = MessageFormat.locale.en;
    MessageFormat.locale.en = function(n){return window.originalMessageFormat(Math.abs(n));};
    </script>
<script src="//cdn-eslgaming.akamaized.net/play/drupal/profiles/eslgaming_play/themes/eslgaming/eslgaming_play_base/dist/scripts/main.js?oz3ukd"></script>
<script src="//cdn-eslgaming.akamaized.net/play/drupal/profiles/eslgaming_play/themes/eslgaming/eslgaming_play_base/dist/scripts/templates.js?oz3ukd"></script>
<script>jQuery.extend(Drupal.settings, {"basePath":"\/","pathPrefix":"","legacy_content":{"prefix":"play\/","esl_section":"","eslSectionPath":""},"user":{"id":null,"timezone":{"name":"Europe\/Berlin","short":"CET"},"geoIpCountry":"DE"},"eslapi_host":"https:\/\/api.eslgaming.com\/play\/v1","region_page":{"current_region":"germany"}});</script>
    <script>
  !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
  arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
  d.src='https://d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
  insertBefore(d,q)}(window,document,'script','_gs');

  _gs('GSN-170878-B');
</script></head>
<body class="html not-front not-logged-in page-node page-node- page-node-519 node-type-region-mainpage section-germany">
    <!-- Google Tag Manager -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PBCCT3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PBCCT3');</script>
<!-- End Google Tag Manager -->        <div class="l-networkbar">
      <div class="l-region l-region--site-top">
    <div id="block-te-networkbar-v2-networkbar-v2-block" class="block block--te-networkbar-v2 block--te-networkbar-v2-networkbar-v2-block">
        <div class="block__content">
    <script>NETWORKBAR_TITLE = "ESL Play"; NETWORKBAR_WIDTH= 1100;</script>
<script src="https://cdn-eslgaming.akamaized.net/misc/media/networkbar/networkbar.min.js"></script>  </div>
</div>
  </div>
</div>

<a id="banner_background" class="banner">
      <div class="l-region l-region--banner-background">
    <style>
    #banner_background {
        background-image: url("https://gfx.esl.eu/media/cm/2016/sitebranding/branding-default1.jpg");
        background-position: top center;
        background-repeat: no-repeat;

        
                    background-color: #000000            }
</style>

<script>
    (function(document) {
        var branding = document.querySelector("#banner_background");
        
        
            })(document);
</script>  </div>
</a>

<div id="banner_artwork" class="banner">
    </div>

<div class="l-page">
        <div id="dhtmltooltip"></div>

    <div class="l-navigation-bar">
        <div class="l-navigation-main">
              <div class="l-region l-region--navigation-first">
    
<a href="/user/home">
    <ng-include src="'icons/esl/play.html'" class="te_breadcrumb__eslplay-logo"></ng-include>
</a>
                       <div id="block-te-breadcrumb-te-breadcrumb-main" class="block block--te-breadcrumb block--te-breadcrumb-te-breadcrumb-main">
        <div class="block__content">
    <ng-include src="'icons/esl/intel.html'" class="te_breadcrumb__intel-logo"></ng-include>

<div class="te_breadcrumb__wrapper">
    <a href="/games" class="te_breadcrumb__games no-decoration">
        <span class="te_breadcrumb__games__label">Games</span>
    </a>
    </div>
  </div>
</div>
  </div>

            <div class="userbox" id="user_container">
                  <div class="l-region l-region--navigation-second">
    <div id="block-te-eslid-login" class="block block--te-eslid block--te-eslid-login">
        <div class="block__content">
    <div class="te-eslid__login">
    <a href="/user/oauth2/login" class="btn btn-primary btn-small">
        Log in/Register    </a>
</div>
  </div>
</div>
  </div>
            </div>

            <div class="helpbox" id="help_container">
                <ul>
                    <li>
                        <a href="/help">Help</a>
                    </li>
                    <li>
                        <a href="http://forum.eslgaming.com/" target="_blank">Forum</a>
                    </li>
                    <li>
                        <a href="/search">Search</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    
    <div id="banner_top" class="banner">
            </div>

    <div class="l-main">
        <div class="l-main-inner">
              <div class="l-region l-region--over-content">
    <div class="regionpage--header" id="region-handler" ng-controller="RegionPageCtrl">
    <div class="navigation">
        <span class="icon icon-24 flag-DE"></span>
        <h3 class="title main">
                            Deutschland                    </h3>
                <h5 class="user-actions">
            (<span ng-cloak><span ng-if="!isHomeRegion() || hasFeedback()"><a ng-if="!isHomeRegion() && !hasFeedback()
                "href="" ng-click="setRegion()">set as home</a>{{data}} /
                </span></span><a href="/regions">change region</a>)
        </h5>
    </div>
    <div class="description"><p class="cnt">ESL Play ist die weltweit führende Plattform für Esports. Sie bietet Turniere &amp;&nbsp;Ladders über alle Spiele und Skill Level hinweg an. <strong>7,365,804</strong> Mitglieder haben <strong>12,580,134</strong> Matches in <strong>91,972</strong> Turnieren gespielt.</p></div>
</div>
  </div>
            <div class="l-sidebar--first">
                                  <aside class="l-region l-region--sidebar-first">
    <div class="regionpage--sidebar">
    <h1>Powered by</h1><br>
<a href="https://www.intel.com/?utm_source=eslplay&utm_medium=logo&utm_term=eslplayintel&utm_campaign=eslplayintel" target="_blank"><img src="https://gfx.esl.eu/media/cm/region/intel-logo-region.jpg"></a>
<p></p>
<h1>Folgt ESL Deutschland:</h1>
<p><a href="https://twitter.com/ESLGermany" target="_blank"><i class="esl-icon esl_social-twitter s32" style="margin-right:25px;"></i></a> <a href="https://fb.com/esldeutschland" target="_blank"><i class="esl-icon esl_social-facebook s32" style="margin-right:25px;"></i></a> <a href="https://www.youtube.com/ESL" target="_blank"><i class="esl-icon esl_social-youtube s32" style="margin-right:25px;"></i></a><a href="https://www.twitch.tv/team/esl/" target="_blank"><i class="esl-icon esl_social-twitch s32" style="margin-right:25px;"></i></a></p>    <h1>Portale in Deutschland:</h1><ul><li><a href="/germany/anti-cheat">Anticheat</a></li><li><a href="/germany/cups">Cups</a></li><li><a href="/germany/esl-meisterschaft">Dein Weg zur deutschen Meisterschaft</a></li><li><a href="/germany/premium-only-cups">Premium Only Cup Series</a></li><li><a href="/germany/playstationliga">PlayStation LIGA</a></li><li><a href="/germany/join-the-staff">Staff Bewerbung</a></li></ul>    <h1>Hilfe & Support:</h1>
<ul>
	<li><a href="https://play.eslgaming.com/germany/help/" target="_blank">Hilfe & Support</a></li>
</ul>

<h1>ESL Features:</h1>
<ul>
	<li><a href="/premium" target="_blank">Premium</a></li>
	<li><a href="/playercard_portal" target="_blank">Playercard</a></li>
        <li><a href="/play-app" target="_blank">Mobile App</a></li>
        <li><a href="/windows-10-app" target="_blank">Windows 10 App</a></li>
        <li><a href="/xbox-one-app" target="_blank">Xbox One App</a></li>
</ul>
    <h1>ESL Deutschland Portale (extern):</h1>
<ul>
<li><a href="https://pro.eslgaming.com/deutschland/" target="_blank">ESL Meisterschaft</a></li>
<li><a href="https://www.schulmeisterschaft.de/" target="_blank">Deutsche Schulmeisterschaft</a></li>
</ul>

<h1>ESL Internationale Portale (extern):</h1>
<ul>
<li><a href="https://intelextrememasters.com/" target="_blank">Intel Extreme Masters</a></li>
<li><a href="https://www.esl-one.com" target="_blank">ESL One</a></li>
<li><a href="https://videonetwork.eslgaming.com/" target="_blank">ESL Video Network</a></li>
<li><a href="https://wcs.battle.net/sc2/en" target="_blank">WCS</a></li>
<li><a href="https://en.wgleague.net/" target="_blank">Wargaming.net League</a></li>
<li><a href="https://pro.eslgaming.com/csgo/proleague/" target="_blank">CS:GO Pro League</a></li>
<li><a href="https://pro.eslgaming.com/r6/proleague/" target="_blank">Rainbow Six: Siege Pro League</a></li>
</ul>

<h1>Community Partner:</h1>
<ul>
<li><a href="http://www.playstationfront.de/" target="_blank">PlayStationFRONT</a></li>
</ul></div>  </aside>
                <div id="banner_mpu" class="banner"></div>
                            </div>
            <div class="l-content" role="main">
                  <div class="l-region l-region--content-head">
    <div id="block-context-menu-contextmenu" class="block block--context-menu block--context-menu-contextmenu">
        <div class="block__content">
      </div>
</div>
  </div>
                                                                <div class="panel-flexible panels-flexible-region_main_pages clearfix" >
<div class="panel-flexible-inside panels-flexible-region_main_pages-inside">
<div class="panels-flexible-row panels-flexible-row-region_main_pages-main-row panels-flexible-row-first clearfix">
  <div class="inside panels-flexible-row-inside panels-flexible-row-region_main_pages-main-row-inside panels-flexible-row-inside-first clearfix">
<div class="panels-flexible-region panels-flexible-region-region_main_pages-center panels-flexible-region-first panels-flexible-region-last column12">
  <div class="inside panels-flexible-region-inside panels-flexible-region-region_main_pages-center-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
<div class="panel-pane pane-league-list">
          <h2 class="pane-title">Kommende Turniere</h2>
          <div class="pane-content">
  <league-list
    tags="'de'"
    path="'/play/'"
    league-types="'cup,premiership,swiss'"
    skill-levels="'pro_qualifier,open,major'"
    limit-total="'10'"
    limit-in-progress="'2'"
    show-game-icons="'1'"
    include-hidden="0"
    link-title="'Mehr Turniere gibt es auf der Cups Seite'"
    link-url="'/germany/cups/'"
    compact="'0'"
    timeframe="'2'"
    sort-by="'date'">
</league-list>
    </div>
    </div><div class="panel-pane pane-custom pane-1 virool">
              <div class="pane-content">
  <style>
  .virool .pane-title {
    margin-left: 0px;
    background: #E5E5E5;
    box-shadow:none;
padding: 0px 0px 0px 0px; 
  }

 .panels-flexible-row .virool  {padding: 0px 0px 0px 0px; }

  .panel-pane .pane-custom pane-1 .frontpage-games {
box-shadow: 0px 0px 0px 0px rgba(0,0,0,0)!important;
border-radius:0px;
margin-bottom: 0px;
padding: 0px 0px 0px 0px; 
}
  .virool  .pane-content {
padding: 0px 0px 0px 0px; 
    margin-left: 0px;
background: #E5E5E5;
box-shadow:none !important;
  }
.virool  { box-shadow: none;padding: 0px 0px 0px 0px;}

  .justify-start {
    justify-content: flex-start;
  }
</style>

<center><div id="virool-player-test"></div>    </div>
    </div>  </div>
</div>
  </div>
</div>
<div class="panels-flexible-row panels-flexible-row-region_main_pages-1 clearfix ">
  <div class="inside panels-flexible-row-inside panels-flexible-row-region_main_pages-1-inside clearfix">
<div class="panels-flexible-region panels-flexible-region-region_main_pages-left panels-flexible-region-first column6">
  <div class="inside panels-flexible-region-inside panels-flexible-region-region_main_pages-left-inside panels-flexible-region-inside-first">
<div class="panel-pane pane-news-rss">
          <h2 class="pane-title">News</h2>
          <div class="pane-content">
      <newsrss feed_url="'play/germany'" max_news="'4'"></newsrss>
    </div>
    </div><div class="panel-pane pane-custom pane-3">
          <h2 class="pane-title">Spiele über die ESL Play App</h2>
          <div class="pane-content">
  <a href="/play-app/" target="_blank"><img src="https://gfx.esl.eu/media/cm/playapp/appscreen1.png" style="float:left; margin-right: 15px; margin-bottom: 10px;"></a>Spiele auf der weltgrößten Gaming Plattform, direkt über dein Smartphone mit der <a href="/play-app/">ESL Play App</a>. Melde dich für Cups an, erhalte Informationen über deine Matches und bestätige dein Ergebnis! Wir freuen uns über dein Feedback.    </div>
    </div><div class="panel-pane pane-custom pane-4">
          <h2 class="pane-title">Forum</h2>
          <div class="pane-content">
  <ul class="socialmedia-list"><li><i class="esl-icon esl_network-esl-news"></i>  <a href="http://forum.eslgaming.com/categories/esl-allgemein-deutsch/" target="_blank">ESL Allgemein (deutsch) Forum</a></li></ul>    </div>
    </div>  </div>
</div>
<div class="panels-flexible-region panels-flexible-region-region_main_pages-right panels-flexible-region-last column6">
  <div class="inside panels-flexible-region-inside panels-flexible-region-region_main_pages-right-inside panels-flexible-region-inside-last">
<div class="panel-pane pane-custom pane-5">
          <h2 class="pane-title">Premium Turniere im November</h2>
          <div class="pane-content">
  <table class="table table-striped" style="width:100%;margin-bottom:0;">	<thead>		<tr>
			<th style="cursor: default; background-color: rgb(255, 255, 255);" width="45%">Spiel</th>
			<th style="background-color:#FFFFFF" width="15%">Modus</th>
			<th style="background-color:#FFFFFF" width="15%">Preis</th>
			<th style="background-color:#FFFFFF" width="30%">Start</th>
		</tr>
	</thead>
	<tbody>
 <tr>
  <td style="cursor: default;"><a target="_blank" href="/counterstrike/csgo/csgo/major/premium-only-1on1-cup-24-germany/"><div class="icon-game-6220" style="float:left; margin-right:3px; margin-top:4px;"></div>CS:GO</a></td>
  <td style="cursor: default;">1on1</td>
  <td style="cursor: default;">50€</td>
  <td>18.11.</td>
 </tr>
 <tr>
  <td style="cursor: default;"><a target="_blank" href="/fifa/playstation/fifa18-ps4/major/premium-only-cup-2-germany/"><div class="icon-game-7143" style="float:left; margin-right:3px; margin-top:4px;"></div>FIFA 18 (PS4)</a></td>
  <td style="cursor: default;">1on1</td>
  <td style="cursor: default;">50€</td>
  <td>20.11.</td>
 </tr>
</tbody></table><br><a href="/germany/premium-only-cups"  class="btn btn-primary btn-lg btn-block">Alle Details findet ihr auf dem Cup Portal</a>    </div>
    </div><div class="panel-pane pane-custom pane-6">
          <h2 class="pane-title">Über €40.000 in der Go4 Series</h2>
          <div class="pane-content">
  <a href="/global/go4/" target="_blank" ><img src="https://gfx.esl.eu/media/cm/2015/regionalpages/cup1.png" style="float:right; width: 130px;height: auto;display: block;margin-top:14px;cursor:pointer;margin-bottom:5px;margin-left:10px;"></a> <p>Nehmt an der weltweit größten Cup Series teil und spielt in verschiedenen Spielen. Und das Beste ist, dass du jede Menge Geld gewinnen kannst! Die Go4 Cup Series hat wöchentliche Cups, bei denen du Punkte erspielen kannst um dich für das Monatsfinale zu qualifizieren.</p> <p><a href="/global/go4/" target="_blank" class="btn btn-primary btn-lg btn-block">Alle Cups</a></p>
    </div>
    </div><div class="panel-pane pane-custom pane-7">
          <h2 class="pane-title">ESL Meisterschaft</h2>
          <div class="pane-content">
  <a href="http://pro.eslgaming.com/deutschland/" target="_blank"><img src="//gfx.esl.eu/media/germany/ESL_NationalChampionship_germany.png" style="float:right; margin-left:5px;margin-top:-12px;" height="125"></a>
Die ESL Meisterschaft ist die Königsklasse in Deutschland. In Counter-Strike:Global Offensive, League of Legends und EA SPORTS FIFA 17 messen sich die stärksten nationalen Spieler. Sei dabei und spiele dich nach ganz oben. Hier treffen die Stars und die jungen Talente aufeinander, die besten Gamer Deutschlands duellieren sich. Action und Spannung sind garantiert..<p></p>
<a href="http://pro.eslgaming.com/deutschland/" target="_blank"  class="btn btn-primary btn-lg btn-block">ESL Meisterschaft Webseite</a>    </div>
    </div><div class="panel-pane pane-custom pane-8">
          <h2 class="pane-title">Das ESL Video Network</h2>
          <div class="pane-content">
  <a href="http://videonetwork.eslgaming.com" target="_blank" ><img src="https://gfx.esl.eu/media/cm/2015/regionalpages/staff1.png" style="float:right; width: 105px;height: auto;display: block;margin-top:14px;cursor:pointer;margin-bottom:5px;margin-left:10px;"></a> 
Du bist ein Influencer und suchst ein großes Netzwerk? Das ESL Video Network gibt alles, um Dich auf das nächste Level zu bringen! <br>Du brauchst ESL Inhalte für deine Videos? Du willst eine riesige Musikbibliothek? Dann klicke hier!<p><a href="http://videonetwork.eslgaming.com" target="_blank" class="btn btn-primary btn-lg btn-block">Zum ESL Video Network</a></p>    </div>
    </div>  </div>
</div>
  </div>
</div>
<div class="panels-flexible-row panels-flexible-row-region_main_pages-2 panels-flexible-row-last clearfix ">
  <div class="inside panels-flexible-row-inside panels-flexible-row-region_main_pages-2-inside panels-flexible-row-inside-last clearfix">
<div class="panels-flexible-region panels-flexible-region-region_main_pages-center_ panels-flexible-region-first panels-flexible-region-last column12">
  <div class="inside panels-flexible-region-inside panels-flexible-region-region_main_pages-center_-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
<div class="panel-pane pane-custom pane-2">
          <h2 class="pane-title">Powered by</h2>
          <div class="pane-content">
  <a href="http://www.needforseat.com/" target="_blank"> <img style="height:55px;" src="//gfx.esl.eu/media/cm/2015/NEEDforSEAT_RGB_claimWEBTRANSPARENT.PNG" alt="NEEDforSEATlogo.png"></a>    </div>
    </div>  </div>
</div>
  </div>
</div>
</div>
</div>
                            </div>
        </div>
    </div>
    <div id="banner_superbanner" class="banner"></div>

    <footer class="l-footer" role="contentinfo">
          <div class="l-region l-region--footer">
    <div id="block-block-877" class="block block--block block--block-877">
        <div class="block__content">
    <style>
.l-region--header { 
display: none; 
}

#banner_background {
top: 59px;
}
</style>  </div>
</div>
<div id="block-block-892" class="block block--block block--block-892">
        <div class="block__content">
    <style>

.l-main {
	background-color:rgba(255,255,255,.1)!important;
}

#banner_background {
background-attachment: fixed;
}

.league--interaction>.header>.connector>.corner {
    background-color: rgba(0, 0, 0, 0) !important;
}

.league--interaction > .header > .connector {
    height:44px!important;
}

</style>  </div>
</div>
<div id="block-block-126" class="block block--block block--block-126">
        <div class="block__content">
    <div class="l-navigation-footer">
        <div class="l-navigation-footer-inner">
            <nav class="navigation-footer games">
                <h4>Games</h4>
                <ul>
                    <li><a href="/allianceofvaliantarms/" title="Alliance of Valiant Arms">Alliance of Valiant Arms</a></li>
                    <li><a href="/arenaofvalor" title="Arena of Valor">Arena of Valor</a></li>
                    <li><a href="/blazblue/" title="BLAZBLUE">BLAZBLUE</a></li>
                    <li><a href="/clashroyale/" title="Clash Royale">Clash Royale</a></li>
                    <li><a href="/counterstrike/" title="Counter-Strike">Counter-Strike</a></li>
                    <li><a href="/crossfire/" title="Crossfire">Crossfire</a></li>
                    <li><a href="/deadoralive/" title="Dead or Alive 5">Dead or Alive 5</a></li>
                    <li><a href="/discjam/" title="Disc Jam">Disc Jam</a></li>
                    <li><a href="/dota2/" title="Dota 2">Dota 2</a></li>
                    <li><a href="/dragonball/" title="Dragon Ball">Dragon Ball</a></li>
                    <li><a href="/echoarena/" title="Echo Arena">Echo Arena</a></li>
                    <li><a href="/fifa/" title="FIFA">FIFA</a></li>
                    <li><a href="/forhonor/" title="For Honor">For Honor</a></li>
                    <li><a href="/guiltygear/" title="Guilty Gear">Guilty Gear</a></li>
                    <li><a href="/handofthegods/" title="Hand of the Gods">Hand of the Gods</a></li>
                    <li><a href="/haxball/" title="HaxBall">HaxBall</a></li>
                    <li><a href="/hearthstone/" title="Hearthstone">Hearthstone</a></li>
                    <li><a href="/heavymetalmachines/" title="Heavy Metal Machines">Heavy Metal Machines</a></li>
                    <li><a href="/heroesofthestorm/" title="Heroes of the Storm">Heroes of the Storm</a></li>
                    <li><a href="/injustice/" title="Injustice">Injustice</a></li>
                    <li><a href="/leagueoflegends/" title="League of Legends">League of Legends</a></li>
                    <li><a href="/lineofsight/global/" title="Line of Sight">Line of Sight</a></li>
                    <li><a href="/madden/" title="Madden">Madden</a></li>
                    <li><a href="/mantisburnracing/" title="Mantis Burn Racing">Mantis Burn Racing</a></li>
                    <li><a href="/mariokart/" title="Mario Kart 8">Mario Kart 8</a></li>
                    <li><a href="/moderncombat/" title="Modern Combat 5">Modern Combat 5</a></li>
                    <li><a href="/mortalkombat/" title="Mortal Kombat">Mortal Kombat</a></li>
                    <li><a href="/mushroomwars/global/" title="Mushroom Wars 2">Mushroom Wars 2</a></li>
                    <li><a href="/narutoshippuden/" title="Naruto Shippuden">Naruto Shippuden</a></li>
                    <li><a href="/nba2k17/" title="NBA 2K17">NBA 2K17</a></li>
                </ul>
                <ul>
                    <li><a href="/nba/playstation" title="NBA 2K18">NBA 2K18</a></li>
                    <li><a href="/overwatch/" title="Overwatch">Overwatch</a></li>
                    <li><a href="/paladins/" title="Paladins">Paladins</a></li>
                    <li><a href="/playerunknownsbattlegrounds/" title="PlayerUnknowns Battlegrounds">PlayerUnknowns Battlegrounds</a></li>
                    <li><a href="/pokerth/pc/" title="PokerTH">PokerTH</a></li>
                    <li><a href="/powerrangers/" title="Power Rangers">Power Rangers</a></li>
                    <li><a href="/projectcars/" title="Project CARS">Project CARS</a></li>
                    <li><a href="/quake/" title="Quake Champions">Quake Champions</a></li>
                    <li><a href="/rainbowsix/" title="Rainbow Six: Siege">Rainbow Six: Siege</a></li>
                    <li><a href="/rocketleague/" title="Rocket League">Rocket League</a></li>
                    <li><a href="/skill/" title="S.K.I.L.L. - Special Forces 2">S.K.I.L.L. - Special Forces 2</a></li>
                    <li><a href="/skullgirls/" title="Skullgirls 2nd Encore">Skullgirls 2nd Encore</a></li>
                    <li><a href="/smite/" title="SMITE">SMITE</a></li>
                    <li><a href="/splatoon/" title="Splatoon 2">Splatoon 2</a></li>
                    <li><a href="/starcraft/" title="StarCraft II">StarCraft II</a></li>
                    <li><a href="/streetfighter/" title="Street Fighter">Street Fighter</a></li>
                    <li><a href="/tekken/" title="Tekken 7">Tekken 7</a></li>
                    <li><a href="/theelderscrolls/" title="The Elder Scrolls">The Elder Scrolls</a></li>
                    <li><a href="/theunspoken/" title="The Unspoken">The Unspoken</a></li>
                    <li><a href="/trackmania/" title="TrackMania">TrackMania</a></li>
                    <li><a href="/trickytowers/" title="Tricky Towers">Tricky Towers</a></li>
                    <li><a href="/unrealtournament/" title="Unreal Tournament">Unreal Tournament</a></li>
                    <li><a href="/uncharted/" title="Uncharted Multiplayer">Uncharted Multiplayer</a></li>
                    <li><a href="/warrock/global/" title="War Rock">War Rock</a></li>
                    <li><a href="/warcraft/global/" title="Warcraft 3">Warcraft 3</a></li>
                    <li><a href="/warface/" title="Warface">Warface</a></li>
                    <li><a href="/worldoftanks/" title="World of Tanks">World of Tanks</a></li>
                    <li><a href="/wrc/" title="WRC 7">WRC 7</a></li>
                    <li><a href="/zula/" title="Zula">Zula</a></li>
                </ul>
            </nav>
            <nav class="navigation-footer portals">
                <h4>Regions</h4>
                <ul>
                    <li><a href="/global/" title="Global">Global</a></li>
                    <li><a href="/america/" title="America">America</a></li>
                    <li><a href="/adria/" title="Adria">Adria</a></li>
                    <li><a href="/asia/" title="Asia">Asia</a></li>
                    <li><a href="/australia/" title="Australia">Australia</a></li>
                    <li><a href="/benelux/" title="Benelux">Benelux</a></li>
                    <li><a href="/bulgaria/" title="Bulgaria">Bulgaria</a></li>
                    <li><a href="/brazil/" title="Brazil">Brazil</a></li>
                    <li><a href="/czsk/" title="CIS">CZSK</a></li>
                    <li><a href="/france/" title="France">France</a></li>
                    <li><a href="/germany/" title="Germany">Germany</a></li>
                    <li><a href="/greece/" title="Greece">Greece</a></li>
                    <li><a href="/hungary/" title="Hungary">Hungary</a></li>
                    <li><a href="/italy/" title="Italy">Italy</a></li>

                </ul>
                <ul>
                    <li><a href="/india/" title="India">India</a></li>
                    <li><a href="/japan/" title="Japan">Japan</a></li>
                    <li><a href="/latin-america/" title="Latin America">Latin America</a></li>
                    <li><a href="/nordic/" title="Nordic">Nordic</a></li>
                    <li><a href="/poland/" title="Poland">Poland</a></li>
                    <li><a href="/portugal/" title="Portugal">Portugal</a></li>
                    <li><a href="/romania/" title="Romania">Romania</a></li>
                    <li><a href="/cis/" title="CIS">Russia&amp;CIS</a></li>
                    <li><a href="/southeast-asia/" title="Southeast Asia">Southeast Asia</a></li>
                    <li><a href="/spain/" title="Spain">Spain</a></li>
                    <li><a href="/turkey/" title="Turkey">Turkey</a></li>
                    <li><a href="/uk/" title="United Kingdom">United Kingdom</a></li>
                </ul>
            </nav>
            <nav class="navigation-footer social-media">
                <h4>Social</h4>
                <ul>
                    <li><a href="https://www.facebook.com/ESL" target="_blank">Facebook</a></li>
                    <li><a href="http://forum.eslgaming.com/" target="_blank">Forum</a></li>
                    <li><a href="/search/">Search</a></li>
                    <li><a href="https://steamcommunity.com/groups/esl" target="_blank">Steam Community</a></li>
                    <li><a href="https://www.twitch.tv/team/esl/" target="_blank">Twitch</a></li>
                    <li><a href="https://twitter.com/ESL" target="_blank">Twitter</a></li>
                    <li><a href="https://www.youtube.com/user/esltv" target="_blank">YouTube</a></li>
                </ul>
            </nav>
            <nav class="navigation-footer site-links">
                <h4>About us</h4>
                   <ul>
                    <li><a href="https://aboutads.info/choices" target="_blank">Ad Choices</a></li>
                    <li><a href="http://www.turtle-entertainment.com/career/" target="_blank">Career</a></li>
                    <li><a href="/anticheat/">ESL Anticheat</a></li>
                    <li><a href="/global/league-structure/">ESL League Structure</a></li>
                    <li><a href="/playercard_portal/" target="_blank">ESL Playercard</a></li>
                    <li><a href="/order/" target="_blank">ESL Premium</a></li>
                    <li><a href="/play-app/" target="_blank">ESL Mobile App</a></li>
                    <li><a href="/windows-10-app/" target="_blank">ESL Windows 10 App</a></li>
                    <li><a href="/xbox-integration/" target="_blank">ESL Xbox Integration</a></li>
                    <li><a href="/ps-dashboard/" target="_blank">PlayStation Dashboard</a></li>
                    <li><a href="/impressum/">Impressum</a></li>
                    <li><a href="/join-the-staff/">Join the Staff</a></li>
                    <li><a href="/media/">Media</a></li>
                    <li><a href="https://www.eslgaming.com/press" target="_blank">Press</a></li>
                    <li><a href="/steamidfinder">SteamID Finder</a></li>
                    <li><a href="/contact/">Support</a></li>
                    <li><a href="/termsofuse/">Terms of Use & <br/>Privacy Policy</a></li>
                    <li><a href="/trusted-by/">Trusted by</a></li>
                </ul>
            </nav>
        </div>
    </div>  </div>
</div>
  </div>
    </footer>
    <footer class="l-footer-site-info">
        <div class="l-footer-site-info-inner">
            <img class="footer-site-logo" src="/profiles/eslgaming_play/themes/eslgaming/eslgaming_play_base/dist/images/esl_2014_horizontal_light.png"
                 alt=""/>

            <img class="footer-site-logo--intel" src="/profiles/eslgaming_play/themes/eslgaming/eslgaming_play_base/dist/images/powered_by_intel.png"
                 alt=""/>

            <div class="footer-site-text">
                <strong>play.ESLGaming.com</strong> is the world largest independent league for esports. Established in
                1997, we're proud to be the home to those who love competitive gaming.
            </div>
        </div>
    </footer>
    <footer class="l-footer-copyright">
        ESL is a brand of Turtle Entertainment GmbH. &#169; 2017    </footer>
</div>
<div id="banner_out_of_page" class="banner"></div>

<div id="cookiebar" style="display: none;">
    <div class="cookie-guideline-container">
        <div class="cookie-notice cookie-guideline-info">
            <div class="cookie-text-center">
                <p>Cookies help us in providing our services. By using our services you agree that we set cookies.                    <a href="https://play.eslgaming.com/cookie-policy" target="_blank">More information</a>
                    <button id="cookie-btn" class="btn btn-small cookie-btn">OK</button></p>
            </div>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        jQuery('#cookie-btn').click(function () {
            jQuery.cookie('_cp', 'true', { expires: 365 * 10, path: '/' });
            jQuery('#cookiebar').fadeOut(250, function () {
                jQuery(this).remove();
            });
        });
        if (typeof jQuery.cookie != "undefined" && jQuery.cookie('_cp') == null) {
            jQuery('#cookiebar').show();
        }
    });
</script>
    </body>
</html>
